@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* --- GENERAL STYLES ---*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* --- HEADER STYLES ---*/

header {
  height: 50px;
  background-color: #1F2937;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  text-decoration: none;
}

ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

li a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

/* --- HERO STYLES ---*/

#hero {
  display: flex;
  align-items: center;
  background-color: #1F2937;
  height: 400px;
}

#hero .container {
  display: flex;
  flex: 1;
  gap: 50px;
}

.hero-description,
.hero-image {
  flex: 1;
}

.hero-description h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
  color: #F9FAF8;
}

.hero-description p {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-description button {
  flex-grow: 0;
  font-size: 18px;
  background-color: #3882F6;
  color: #E5E7EB;
  padding: 6px 30px;
  border: none;
  border-radius: 10px;
  margin-top: 12px;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #595f68;
  color: #E5E7EB;
}

/* --- INFORMATION STYLES ---*/

#information .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 400px;
}

#information .container h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin-bottom: 48px;
}

.info-content {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info-content p {
  margin-top: 5px;
}

.info-content div {
  flex-basis: 150px;
}

.info-image {
  width: 150px;
  height: 150px;
  border: 3px solid #3882F6;
  border-radius: 10px;
}

/* --- QUOTE STYLES ---*/

#quote {
  background-color: #E5E7EB;
}

#quote .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.quote-content {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  padding: 0 120px;
}

.quote-content blockquote {
  display: flex;
  flex-direction: column;
}

.quote-content blockquote span {
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
  margin-left: auto;
}